<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>

    <link rel="stylesheet" href="../resources/static/styles/home.css" th:href="@{/styles/home.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="../resources/static/styles/media/icons/favicon.ico" th:href="@{/styles/media/icons/favicon.ico}" type="image/x-icon">


</head>
<body>
<nav>
    <ul>
        <li>
            <a href="#" class="logo">
                <img th:src="@{/styles/media/img/m-profile.png}" alt="">
                <span class="nav-item">Hei<span th:text="${username}"></span></span>
            </a>
        </li>
        <li><a href="/home">
            <i class="fas fa-home"></i>
            <span class="nav-item">Hjem</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-chart-bar"></i>
            <span class="nav-item">Analyse</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-skiing"></i>
            <span class="nav-item">Sport</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-user"></i>
            <span class="nav-item">Bruker</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-cog"></i>
            <span class="nav-item">Settings</span>
        </a></li>
        <li><a href="/logout" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Logg ut</span>
        </a></li>
    </ul>
</nav>

<h1>Her er dine instillinger</h1>

</body>
</html>